[Unit]
Description=validator Service
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/prysm/prysm.sh validator --datadir=/data/eth2
Restart=always

[Install]
WantedBy=multi-user.target
