[Unit]
Description=validator Service
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/prysm/prysm.sh validator --keymanager=keystore --keymanageropts='{"path":"/home/ubuntu/keystore","passphrase":"changeme"}' --datadir=/data/eth2
Restart=always

[Install]
WantedBy=multi-user.target
